name: UPDATESCRIPT

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Read version
        run: echo "VERSION=$(cat version.txt | tr -d '\r')" >> $GITHUB_ENV

      - name: Send Discord message
        env:
          DISCORD_WEBHOOK: ${{ secrets.UPDATESCRIPT }}
          CHANGELOG: ${{ github.event.head_commit.message }}
        run: |
          curl -X POST "$DISCORD_WEBHOOK" \
            -H "Content-Type: application/json" \
            -d "{\"username\":\"Update Service\",\"content\":\"Game Script Updated\nVersion: $VERSION\n\n[ + ] ADD\n\`\`\`\n$CHANGELOG\n\`\`\`\"}"
