name: UPDATESCRIPT

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Read version
        run: echo "VERSION=$(cat version.txt | tr -d '\r')" >> $GITHUB_ENV

      - name: Send Discord embed
        env:
          DISCORD_WEBHOOK: ${{ secrets.UPDATESCRIPT }}
          CHANGELOG: ${{ github.event.head_commit.message }}
        run: |
          ADD=$(printf "%s\n" "$CHANGELOG" | grep '^[+]' | sed 's/^[+] *//' | sed ':a;N;$!ba;s/\n/\\n/g')
          CHG=$(printf "%s\n" "$CHANGELOG" | grep '^[-]' | sed 's/^[-] *//' | sed ':a;N;$!ba;s/\n/\\n/g')
          FIX=$(printf "%s\n" "$CHANGELOG" | grep '^[/]' | sed 's%^/ *%%' | sed ':a;N;$!ba;s/\n/\\n/g')

          curl -X POST "$DISCORD_WEBHOOK" \
            -H "Content-Type: application/json" \
            -d "{
              \"username\": \"Update Service\",
              \"embeds\": [{
                \"title\": \"Game Script Update\",
                \"description\": \"Version: $VERSION\n\n[ + ] ADD\n\`\`\`\n$ADD\n\`\`\`\n\n[ - ] CHANGE\n\`\`\`\n$CHG\n\`\`\`\n\n[ / ] FIX\n\`\`\`\n$FIX\n\`\`\`\",
                \"color\": 3092790,
                \"thumbnail\": {
                  \"url\": \"https://ibb.co.com/9mxLgNg7\"
                },
                \"footer\": {
                  \"text\": \"Private Build Update\"
                }
              }]
            }"
